<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Texto</label>
    <br />
    <textarea></textarea>
    <br />
    <label>
    <input type="checkbox" id="cbox1" value="first_checkbox" />Desencriptar</label>
    <br />
    <input type="checkbox" id="cbox2" value="second_checkbox" />
    <label for="cbox2">Encriptar</label>
    <br />
    <select>
      <option value="1">Incriptacion 1</option>
      <option value="2">Incriptacion 2</option>
    </select>
    <br />
    <button>
      Enviar
    </button>
  </div>
</form>
