<div class="card">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label >Texto</label>
      <br />
      <textarea
        type="text"
        formControlName="texto"
        required
        placeholder="Escribe aquí el texto"
      ></textarea>
      <br />
      <label>
        <input type="checkbox" formControlName="encriptar" (change)="onCheckboxChange('encriptar')" />
        Encriptar
      </label>
      <br />
      <label>
        <input type="checkbox" formControlName="desencriptar" (change)="onCheckboxChange('desencriptar')" />
        Desencriptar
      </label>
      <br />

      <button type="submit" [disabled]="form.invalid">
        Enviar
      </button>
    </div>
  </form>
</div>
<div class="card">
  <label>Respuesta</label>
  <br />
  <textarea readonly>{{ respuesta }}</textarea>
</div>
